<div style="display: flex; gap: 1rem;">
  <button class="btn btn-secondary" (click)="showJavaCourses()">Java course</button>
  <button class="btn btn-secondary"(click)="showAngularCourses()">Angular course</button>
  <button class="btn btn-secondary"  (click)="showFavoriteCourses()">Favorite course</button>
</div>

<div *ngFor="let course of courses | async">
  <ul style="display: inline-flex; list-style-type: circle">
    <li style="margin: 1rem">{{ course.id }}</li>
    <li style="margin: 1rem">{{ course.name }}</li>
  </ul>
</div>
